<!-- add a post to the web page with photo and location and other details -->
{% extends 'base.html' %}

{% block content %}
<div>
	<script src="https://maps.googleapis.com/maps/api/js?key=&&callback=initMap"></script>
    <style>
		.preview {
			display: flex;
			flex-wrap: wrap;
			max-width: 500px;
		}
		.preview img {
			max-width: 150px;
			max-height: 150px;
			margin: 10px;
		}
	</style>
    <title>Add an item for donating</title>
	<iframe id="map" width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/view?key=&zoom=14"
    allowfullscreen></iframe>
	<form action="#" method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<label for="post-title">Tell us what is it you are donating:</label><br>
		<input type="text" id="post-title" name="post-title"><br>

		<label for="post-photos">Photos:</label><br>
		<input type="file" id="post-photos" name="post-photos" accepts="image/*" multiple onchange="previewPhotos(event)"><br>
		<div class="preview"></div>

		<label for="post-latitude">Latitude:</label><br>
		<input type="text" id="post-latitude" name="post-latitude" readonly="true"><br>

        <label for="post-longitude">Longitude:</label><br>
		<input type="text" id="post-longitude" name="post-longitude" readonly="true"><br>

		<input type="submit" value="Submit">
	</form>

	<h2>Uploaded File</h2>
	<div>
		{% if file_url %}
		<div>
			<p>Uploaded to:<a href="{{ file_url }}">{{ file_url }}</a></p>
			<img src="{{ file_url }}" class="img-fluid">
		</div>
		{% else %}
		<p> No Picture Added </p>
		{% endif %}
	</div>


	<script>
		function previewPhotos(event) {
			const previewContainer = document.querySelector('.preview');
			previewContainer.innerHTML = '';
			const files = event.target.files;
			for (let i = 0; i < files.length; i++) {
				const file = files[i];
				const reader = new FileReader();
				reader.readAsDataURL(file);
				reader.onload = function() {
					const img = document.createElement('img');
					img.src = reader.result;
					previewContainer.appendChild(img);
				}
			}
		}
		navigator.geolocation.getCurrentPosition(function(position) {
          var latitude = 40.694682;
          var longitude = -73.9858714;
          latitude = position.coords.latitude;
          longitude = position.coords.longitude;
		  var post_latitude = document.getElementById("post-latitude");
		  post_latitude.value = latitude;
		  var post_longitude = document.getElementById("post-longitude");
		  post_longitude.value = longitude;
          // Set the center of the map to the user's location
          const map = document.getElementById('map');
          const url = new URL(map.src);
          url.searchParams.set('center', `${latitude},${longitude}`);
          map.src = url.toString();
        });
        
	</script>
</div>
{% endblock %}